<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <h1 class="krub-700">
    Welcome to {{ title }}!
  </h1>
</div>
<p class="krub-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p class="krub-400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p class="krub-700">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<h2>CENTRAR ELEMENTOS INLINE</h2>
<div class="elemento-padre">
  Ejemplo 1
</div>
<div class="elemento-padre">
  Ejemplo 2
</div>
<div class="elemento-padre">
  Ejemplo 3
</div>

<p class="krub-700">NOTA: Algunos elementos inline por defecto son los textos, span, links e imágenes.</p>

<h2>CENTRAR ELEMENTOS INLINE BLOCK (UN ELEMENTO DE BLOQUE)</h2>
<div class="elemento-padre">
  <div class="hijo-uno">HIJO UNO</div>
</div>
<div class="elemento-padre">
  <div class="hijo-dos">HIJO DOS</div>
</div>

<h2>CENTRAR ELEMENTOS INLINE BLOCK (VARIOS ELEMENTOS DE BLOQUE) USANDO FlexBox</h2>
<div class="elemento-padre-block">
  <div class="hijo">HIJO UNO</div>
  <div class="hijo">HIJO DOS</div>
</div>

<h2>CENTRAR ELEMENTOS INLINE BLOCK (VARIOS ELEMENTOS DE BLOQUE) SIN FlexBox</h2>
<div class="elemento-padre-block1">
  <div class="hijo1">HIJO UNO</div>
  <div class="hijo1">HIJO DOS</div>
</div>

<h2>CENTRAR ELEMENTOS VERTICALMENTE (ELEMENTOS INLINE)</h2>
<div class="padre-vertical">
  <span class="hijo-vertical">Elemento centrado verticalmente</span>
</div>

<h2>CENTRAR ELEMENTOS VERTICALMENTE (ELEMENTOS INLINE VARIAS LINEAS)</h2>
<div class="padre-vertical1">
  <span class="hijo-vertical1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
</div>

<h2>CENTRAR ELEMENTOS VERTICALMENTE (ELEMENTOS INLINE VARIAS LINEAS) CON FlexBox</h2>
<div class="padre-vertical2">
  <span class="hijo-vertical2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
</div>

<h2>CENTRAR VERTICALMENTE ELEMENTOS DE BLOQUE</h2>
<div class="padre-bloque">
  <div class="hijo-bloque"></div>
</div>
