/* You can add global styles to this file, and also import other style files */
//body {
//  font-family: "Krub", sans-serif;
//}

.krub-300 {
  font-family: "Krub", sans-serif;
  font-weight: 300;
}

.krub-400 {
  font-family: "Krub", sans-serif;
  font-weight: 400;
}

.krub-700 {
  font-family: "Krub", sans-serif;
  font-weight: 700;
}
